@import "../styles/theme.scss";
.header_main {
  width: 90%;
  padding: 35px;
  display: flex;
  justify-content: space-between;

  .logo {
    display: flex;
    cursor: pointer;
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
  }

  @include for-phone {
    padding: 16px;
  }

  .menu_icon {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    display: none;
  }
}

.nav_actions {
  display: flex;
  justify-content: space-between;
  width: 60%;

  @include for-phone {
    display: none;
  }
  .navlinks {
    display: flex;
    div {
      cursor: pointer;
      padding: 14px;
      font-size: 17px;
      font-weight: 500;
      color: #6e6e6e;
      &:hover {
        color: #000;
      }
    }
    @include for-phone {
      flex-direction: column;
    }
  }

  .account_buttons {
    display: flex;
    align-items: center;
    .signup_button {
      margin-left: 10px;
      padding: 9px 20px;
      background: #28c840;
      border-radius: 12px;
      font-weight: 500;
      color: #fff;
      font-size: 18px;
      line-height: 24px;
      display: inline-block;
      cursor: pointer;
      &:hover {
        background: #49f062;
      }
    }
    @include for-phone {
      flex-direction: column;
    }
  }
}
.responsive {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  position: absolute;
  background-color: #fff;
  width: 90%;
  border-radius: 10px;
  text-align: center;
  z-index: 900;
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .header_main .menu_icon {
    display: block;
  }
}
.account_nav_expanded {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  user-select: none;
  z-index: 900;
  display: flex;
  position: absolute;
  margin-top: 50px;
  margin-left: -40px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  div {
    padding: 14px;
    font-size: 17px;
    font-weight: 500;
    color: #6e6e6e;
    &:hover {
      color: black;
    }
  }
}
.account_nav_container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  .account_nav {
    display: flex;
    align-items: center;

    .profile_image {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      @include for-phone {
        display: none;
      }
    }
    .nav_link {
      padding: 14px;
      font-size: 17px;
      font-weight: 500;
      color: #6e6e6e;
      &:hover {
        color: #000;
      }
    }
  }
}
