@import "../styles/theme.scss";

.container {
  width: 100%;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}
.left {
  position: absolute;
  left: 6rem;
  text-align: center;
  .heading {
    padding-left: 10px;
    margin: 0px;
    font-size: 32px;
    font-weight: 600;
    color: rgb(29, 29, 29);
    cursor: pointer;
  }
}
.center {
  display: flex;
  flex-direction: row;

  .link {
    font-size: 20px;
    font-weight: 400;
    color: rgb(48, 48, 48);
    margin-right: 2.5rem;
    cursor: pointer;
    &:hover {
      color: rgb(94, 94, 255);
    }
  }
}
.right {
  position: absolute;
  right: 6rem;
  .btn_filled {
    background-color: $color-primary;
    border-radius: 0.5rem;
    padding: 0.6rem 1.2rem;
    color: white;
    font-weight: 500;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-left: 0.2rem;
    &:hover {
      background-color: $color-primary-light;
    }
  }
  .btn {
    background-color: transparent;
    padding: 0.6rem 1.2rem;
    color: black;
    font-weight: 500;
    font-size: 20px;
    border: none;
    cursor: pointer;
    &:hover {
      color: rgb(94, 94, 255);
    }
  }
}
.btn_menu {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1.3rem;
  border: none;
  z-index: 200;
  background: transparent;
}
.menu_icon {
  height: 30px;
  width: auto;
}
.heading_mob {
  display: none;
  font-size: 22px;
  font-weight: 600;
  color: rgb(29, 29, 29);
  cursor: pointer;
  position: absolute;
  left: 1rem;
  top: 1.3rem;
  margin: 0;
  z-index: 200;
}

@media only screen and (max-width: 600px) {
  .container {
    height: auto;
    min-height: 50px;
    display: block;
    position: relative;
  }
  .btn_menu {
    display: block;
  }
  .menu_icon {
    display: block;
  }
  .heading_mob {
    display: flex;
  }
  .content {
    flex-direction: column;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
    max-height: 0;
    width: 100%;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  .is_expanded {
    background-color: white;
    overflow: hidden;
    max-height: 500px; /* approximate max height */
    width: 100%;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  .left {
    position: relative;
    left: 0;
    width: 100%;

    display: block;
    padding-top: 20px;
    margin: 0px;
    margin-left: -5px;
    .heading {
      display: none;
      font-size: 22px;
      font-weight: 600;
      color: rgb(29, 29, 29);
      cursor: pointer;
    }
  }
  .right {
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  .center {
    flex-direction: column;
    .link {
      margin-right: 0;
      text-align: center;
    }
  }
}
