.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  // /background-color: #f7fafc;
  // background: linear-gradient(
  //   to right,
  //   rgb(212, 252, 121, 0.1),
  //   rgb(150, 230, 161, 0.1)
  // );
}

.main_container {
  margin-top: 50px;
  //box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  //background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
  .topbar {
    width: 95%;
    display: flex;
    justify-content: space-between;
    h1 {
      margin: 0px;
      font-size: 26px;
      font-weight: 500;
    }
  }
}
.btn_primary {
  img {
    width: 22px;
    margin-right: 5px;
  }
  align-self: center;
  margin-left: 10px;
  padding: 9px 20px;
  background: #28c840;
  border-radius: 8px;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: #49f062;
  }
}
