.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #ffffff 0%, #edf2ff 100%);
}

.main_container {
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
  .topbar {
    width: 95%;
    display: flex;
    justify-content: space-between;
    h1 {
      margin: 0px;
      font-size: 26px;
      color: rgb(53, 53, 53);
    }
  }
}
.btn_primary {
  img {
    width: 22px;
    margin-right: 5px;
  }
  align-self: center;
  margin-left: 10px;
  padding: 9px 20px;
  background: #28c840;
  border-radius: 8px;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: #49f062;
  }
}
