@import "./theme.scss";

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7fafc;
  background: linear-gradient(
    to right,
    rgb(212, 252, 121, 0.1),
    rgb(150, 230, 161, 0.1)
  );
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_heading {
  color: $color-black;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 3rem;
  width: 100%;
  .heading_slim {
    font-weight: 400;
  }
}
.sub_heading {
  color: $color-black;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  margin-top: 2.2rem;
}
.btn_main {
  background-color: $color-primary;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 1rem 4rem;
  border-radius: 0.5rem;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
  &:hover {
    background-color: $color-primay-light;
  }
}
.video_container {
  width: 90%;
  height: auto;
  border-radius: 0.7rem;

  margin-bottom: 2rem;
  margin-top: 2rem;
  overflow: hidden;
  box-shadow: rgba(224, 224, 224, 0.1) 0px 10px 50px;
}

.arrow_wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 9rem;
  top: 18rem;
  .arrow_text {
    font-size: 1.15rem;
    color: #fa536e;
  }
  .arrow_img {
    width: 4rem;
    height: auto;
  }
}
.heading {
  color: $color-black;
  margin-top: 1rem;
}
.grid_container {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-gap: 2.33%;
  width: 90%;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 5rem;
}
.card {
  width: auto;
  height: auto;
  border-radius: 1rem;
  box-shadow: rgba(124, 124, 124, 0.1) 0px 10px 50px;

  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: rgba(14, 14, 14, 0) 0px 10px 60px;
  }
  .card_img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: rgba(124, 124, 124, 0.1) 0px 10px 50px;
    overflow: hidden;
  }
  .heading_card {
    font-size: 22px;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .description_card {
    font-size: 18px;
    font-weight: 400;
    margin-top: 1rem;
  }
}
.pink {
  background-color: $color-pink;
}
.brown_light {
  background-color: $color-brown-light;
}
.blue_light {
  background-color: $color-blue-light;
}
.dark_pink {
  color: rgb(94, 0, 81);
}
.dark_brown {
  color: rgb(104, 55, 0);
}
.dark_blue {
  color: rgb(0, 69, 97);
}
@media only screen and (max-width: 600px) {
  .grid_container {
    display: grid;
    grid-template-columns: 90%;
    grid-gap: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 5rem;
  }
}
