$color-primary: #28c840;
$color-primary-light: #49f062;
$color-black: #192033;
$color-pink: #f6b1c8;
$color-brown-light: #f7ddb2;
$color-blue-light: #cdf5e7;
$color-dark-gray: #343a40;

@mixin for-phone {
  @media only screen and (max-width: 600px) {
    @content;
  }
}
